/*
 * USER STYLES
*/
html,body {
  height: 100%
}

a {
  color: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

#wrap {
  background: #75a8c4; /* Old browsers */
  background: -moz-linear-gradient(top, #75a8c4 7%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7%, #75a8c4),
    color-stop(100%, #ffffff) ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #75a8c4 7%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #75a8c4 7%, #ffffff 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #75a8c4 7%, #ffffff 100%);
  /* IE10+ */
  filter: progid :               DXImageTransform.Microsoft.gradient ( 
            
          startColorstr =       
           '#75a8c4', endColorstr =               '#ffffff', GradientType
    =  
            
       0 );
  /* IE6-9 */
  background: linear-gradient(top, #75a8c4 7%, #ffffff 100%); /* W3C */
  height: auto !important;
  min-height: 100%;
}

#container {
  background-color: white;
  padding: 25px 25px;
  padding-bottom: 0px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: #CCC 4px 0 10px, #CCC -4px 0 10px, #AAA 0 38px 36px -24px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 650px;
}

.section {
  padding-bottom: 15px;
  border-bottom: 1px dashed #CCC;
  margin-bottom: 15px;
}

.section:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

#head {
  margin-bottom: 25px;
}

#head a {
  text-decoration: none;
}

h1 {
  font-size: 52px;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom: 4px solid #DDDDDD;
  color: #1C4257;
  text-shadow: 2px 1px 8px #75A8C4;
}

h2 {
  font-size: 24px;
  font-family: sans-serif;
  padding-bottom: 10px;
  font-weight: bold;
  color: #1C4257;
  text-shadow: 2px 1px 8px #75A8C4;
}

.text {
  font-size: 16px;
  font-family: Georgia, serif;
  line-height: 1.2em;
}

.text p {
  margin: 5px auto;
}

.text .feature {
  text-align: center;
  margin: 15px auto;
  background-color: #F2F2F2;
  padding: 5px;
  box-shadow: 1px 1px 6px #AAA;
  border-radius: 2px;
}

.text .feature:hover {
  box-shadow: 1px 1px 6px #75A8C4;
}

#footer {
  position: relative;
  padding: 10px 0px;
  background: #EEE;
  margin-top: 35px;
  height: 66px;
  border-top: 1px solid #CCC;
  margin: auto -25px;
}

#social {
  position: absolute;
  left: 10px;
}

#social .button {
  float: left;
  margin-right: 5px;
}

#copyright {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 11px;
  color: #888;
  font-family: sans-serif;
  left: 10px;
}

#html5-badge {
  float: right;
}
